::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

html {
  scroll-padding-top: 20px;
}

canvas {
  position: fixed;
  filter: blur(80px);
}

body {
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-position: center center;
  background-size: 16px 16px;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Sawarabi Gothic, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

p {
  line-height: 2;
  letter-spacing: 0.04em;
}

th, td, li {
  line-height: 1.5;
  letter-spacing: 0.04em;
}

a {
  color: royalblue;
}

.title {
  padding-bottom: 5px;
  border-bottom: 1px solid #9c9c9c;
  font-weight: bold;
  font-size: 27px;
}

h3 {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
}

section {
  margin-bottom: 165px;
  background-color: rgba(217, 217, 217, 0.4);
  scroll-margin-top: 40px;
}
section .contents_wrap {
  padding: 30px;
}

.sub_title {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  padding: 0 28px;
}
.sub_title span {
  font-size: 13px;
}
.sub_title::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: #666;
  content: "";
}
.sub_title::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 1px;
  background-color: #666;
  content: "";
}

.contents_inner {
  margin: auto 45px;
}

ul {
  list-style: square;
  list-style-position: inside;
}
ul li {
  padding-bottom: 25px;
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
}
table th, table td {
  padding: 0.5em 1em;
  vertical-align: middle;
}
table tr {
  border-bottom: 1px dashed #999;
}
table tr:last-child {
  border-bottom: none;
}
table th {
  background: #eee;
  font-size: 14px;
}
table td {
  font-size: 13px;
}
table .left, table .right {
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#js-mouse {
  position: fixed;
  top: -15px;
  left: -15px;
  z-index: 9999;
  transform: translate(0, 0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b64040;
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  pointer-events: none;
  mix-blend-mode: difference;
}
#js-mouse.is_active {
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  border-radius: inherit;
  transition: 0.2s;
}

pre {
  display: flex;
  margin: 1.3rem 0;
  overflow-x: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 16, 34, 0.1490196078);
  background: #3d3d3e;
  word-break: normal;
  word-wrap: normal;
  -webkit-overflow-scrolling: touch;
}
pre code {
  padding: 10px;
  color: #fff;
  font-size: 15px;
}
pre span {
  display: block;
}

.header {
  position: relative;
}
.header_inner {
  position: absolute;
  top: -64px;
  right: 155px;
  z-index: -1;
  color: rgba(0, 0, 102, 0.5);
  font-weight: bold;
  font-size: 5rem;
}
.header .white {
  position: relative;
  width: 100%;
  height: 182px;
  overflow: hidden;
}
.header .white::after {
  position: absolute;
  top: -64px;
  right: 129px;
  z-index: 1;
  color: #000;
  font-weight: bold;
  font-weight: bold;
  font-size: 5rem;
  white-space: pre;
  content: "Coding \aRule";
}

.nav {
  position: fixed;
  width: 450px;
  height: 100vh;
  padding: 15px;
  border-radius: 0 55px;
  background-color: rgba(217, 217, 217, 0.4);
}
.nav_list {
  list-style: none;
  font-size: 18px;
}
.nav_list-item {
  padding-bottom: initial;
  line-height: inherit;
}
.nav_list-item a {
  display: grid;
  width: 100%;
  padding: 30px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.nav_list-item a:hover {
  background-color: rgba(255, 255, 255, 0.863);
  color: #000;
  transition: 0.6s;
}

.scroll_side {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: calc(100vw - 450px);
  height: 15px;
  background: rgba(217, 217, 217, 0.4);
}
.scroll_side-inner {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 102, 0.5);
  animation: parallel-scroll linear;
  animation-timeline: scroll();
}

@keyframes parallel-scroll {
  from {
    translate: calc(100vw - 450px);
  }
  to {
    translate: 0 0;
  }
}
.main {
  position: relative;
  width: calc(100% - 450px);
  margin-left: auto;
}
.main_inner {
  max-width: 730px;
  margin: 0 auto;
  margin-top: 58px;
}

.contents2 .skill_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contents4 .bem-rule {
  margin: 50px 0;
}
.contents4 .bem-rule p {
  margin-bottom: 20px;
  font-weight: bold;
}
.contents4 .bem-rule ul li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.contents6 .css-color_code p {
  line-height: inherit;
}

.contents7 ul li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.contents7 .attention {
  color: red;
}/*# sourceMappingURL=style.css.map */