$white: #fff;
$black: #000;
$accent: royalblue;


//
// 共通パーツ
//
::selection {
    background-color: $black;
    color: $white;
}

html {
    scroll-padding-top: 20px;
}

canvas {
    position: fixed;
    filter: blur(80px);
}

body {
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Sawarabi Gothic, sans-serif;
    &::-webkit-scrollbar {
        display: none;
    }
}

p {
    line-height: 2;
    letter-spacing: .04em;
}
th, td, li {
    line-height: 1.5;
    letter-spacing: .04em;
}

a {
    color: $accent;
}

.title {
    padding-bottom: 5px;
    border-bottom: 1px solid #9c9c9c;
    font-weight: bold;
    font-size: 27px;
}

h3 {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

section {
    margin-bottom: 165px;
    background-color: rgb(217 217 217 / 40%);

    scroll-margin-top: 40px;
    .contents_wrap {
        padding: 30px;
    }
}
.sub_title {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    padding: 0 28px;
    span {
        font-size: 13px;
    }
    &::before {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 15px;
        height: 1px;
        background-color: #666;
        content: "";
    }
    &::after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 15px;
        height: 1px;
        background-color: #666;
        content: "";
    }
}

.contents_inner {
    margin: auto 45px;
}

ul {
    list-style: square;
    list-style-position: inside;
    li {
        padding-bottom: 25px;
    }
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    th, td {
        padding: .5em 1em;
        vertical-align: middle;
    }
    tr {
        border-bottom: 1px dashed #999;
        &:last-child {
            border-bottom: none;
        }
    }
    th {
        background: #eee;
        font-size: 14px;
    }
    td {
        font-size: 13px;
    }
    .left, .right {
        background-color: transparent;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
}

// マウスストーカー
#cursor-tracker {
    position: fixed;
    top: -15px;
    left: -15px;
    z-index: 9999;
    transform: translate(0,0);
    width: 30px;
    height: 30px;
    border-radius: 50%;

// background-color:rgba(0,0,102,0.5);
    background: #b64040;
    transition: transform .2s;
    transition-timing-function: ease-out;

    pointer-events: none;
    mix-blend-mode: difference;

    &.is_active {
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        border: 2px solid #b64040;
        background: none;
        transition: .2s;
    }
}

// 共通パーツここまで


pre {
    display: flex;
    margin: 1.3rem 0;
    overflow-x: auto;
    box-shadow: 0 4px 6px -1px #00102226;
    background: #3d3d3e;
    word-break: normal;
    word-wrap: normal;

    -webkit-overflow-scrolling: touch;
    code {
        padding: 10px;
        color: $white;
        font-size: 15px;
    }
    span {
        display: block;
    }
}


.header {
    position: relative;
    &_inner {
        position: absolute;
        top: -64px;
        right: 86px;
        z-index: -1;
        color: $black;
        font-weight: bold;
        font-size: 5rem;
    }
    .white {
        position: relative;
        width: 100%;
        height: 182px;
        overflow: hidden;
        &::after {
            position: absolute;
            top: -64px;
            right: 60px;
            z-index: 1;
            color: #bbb;
            font-weight: bold;
            font-weight: bold;
            font-size: 5rem;
            white-space: pre;
            content: "Coding \A Rule";
        }
    }
}

.nav {
    position: fixed;
    width: 375px;
    height: 100vh;
    padding: 15px;
    background-color: rgb(217 217 217 / 40%);

    &_list {
        list-style: none;
        font-size: 18px;
        &-item {
            padding-bottom: initial;
            line-height: inherit;
            a {
                display: grid;
                width: 100%;
                padding: 12px;
                color: $black;
                font-weight: 600;
                font-size: 14px;
            }
        }
        &-item a:hover {
            background-color: rgba(255, 255, 255, .863);
            color: $black;
            transition: .6s;
        }
    }
}

.scroll_indicator {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: calc(100vw - 375px);
    height: 9px;
    background: rgb(217 217 217 / 40%);
    &-inner {
        display: block;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / .6);
        animation: parallel-scroll linear;

        animation-timeline: scroll();
    }
}

@keyframes parallel-scroll {
    from {
        translate: calc(100vw - 375px);
    }
    to {
        translate: 0 0;
    }
}

.main {
    position: relative;
    width: calc(100% - 375px);
    margin-left: auto;

    &_inner {
        max-width: 730px;
        margin: 0 auto;
        margin-top: 58px;
    }
}

.contents2 {
    .skill_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.contents4 {
    .bem-rule {
        margin: 50px 0;
        p {
            margin-bottom: 20px;
            font-weight: bold;
        }
        ul {
            li {
                padding-left: 1.5em;
                text-indent: -1.5em;
            }
        }
    }
}

.contents6 {
    .css-color_code {
        p {
            line-height: inherit;
        }
    }
}

.contents7 {
    ul {
        li {
            padding-left: 1.5em;
            text-indent: -1.5em;
        }
    }
    .attention {
        color: red;
    }
}



