$white: #fff;
$black: #000;
$accent: royalblue;


// 
// 共通パーツ
//
::selection {
    background-color: $black;
    color: $white;
}

html {
    scroll-padding-top: 20px;
}

body {
    font-family: Sawarabi Gothic, sans-serif;
    &::-webkit-scrollbar {
        display: none;
    }
    background-image: 
    linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    }

p {
    line-height: 2.7;
    letter-spacing: .04em;
}
th, td, li {
    line-height: 1.5;
    letter-spacing: .04em;
}

a {
    color: $accent;
}

h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #9c9c9c;
    font-weight: bold;
    font-size: 27px;
}

h3 {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

section {
    margin-bottom: 165px;
}
.sub_title {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    padding: 0 28px;
    span {
        font-size: 13px;
    }
    &::before {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 15px;
        height: 1px;
        background-color: #666;
        content: "";
    }
    &::after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 15px;
        height: 1px;
        background-color: #666;
        content: "";
    }
}

.contents_inner {
    margin: auto 45px;
}

ul {
    list-style: square;
    list-style-position: inside;
    li {
        padding-bottom: 25px;
    }
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    th, td {
        padding: .5em 1em;
        vertical-align: middle;
    }
    tr {
        border-bottom: 1px dashed #999;
        &:last-child {
            border-bottom: none;
        }
    }
    th {
        background: #eee;
        font-size: 14px;
    }
    td {
        font-size: 13px;
    }
    .left, .right {
        background-color: $white;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
}
// ↑ここまで


pre {
    margin: 1.3rem 0;
    background: #3d3d3e;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 4px 6px -1px #00102226;
    word-break: normal;
    word-wrap: normal;
    display: flex;
    code {
        color: $white;
        padding: 10px;
        font-size: 15px;
    }
    span {
        display: block;
    }
}
    

.header {
    position: relative;
    &_inner {
        font-weight: bold;
        font-size: 5rem;
        position:absolute;
        right:174px;
        top:-64px;
        color:$black;
        z-index:-1;
    }
    .white {
        position:relative;
        width:100%;
        height:182px;
        overflow:hidden;
        &::after {
            position:absolute;
            right:148px;
            top:-64px;
            content:"Coding \A Rule";
            white-space: pre;
            font-weight:bold;
            color:$white;
            z-index:1;
            font-weight: bold;
        font-size: 5rem;
        }
    }
}

.nav {
    position: fixed;
    width: 450px;
    height: 100vh;
    background-color: #0000007a;
    color: $white;
    &_list {
        list-style: none;
        font-size: 18px;
        &-item {
            padding-bottom: initial;
            line-height: inherit;
            a {
                display: inline-block;
                width: 100%;
                padding: 30px;
                color: $white;
            }
        }
        &-item a:hover {
            background-color: rgba(255, 255, 255, 0.863);
            color: $black;
            transition: .6s;
        }
    }
}

.scroll_side {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: calc(100vw - 450px);
    height: 15px;
    background: #0000007a;
    &-inner {
        display: block;
        width: 100%;
        height: 100%;
        background: #ff4b4b;
        animation: parallel-scroll linear;
        animation-timeline: scroll();
    }
}

@keyframes parallel-scroll {
    from {
        translate: calc(100vw - 450px);
    }
    to {
        translate: 0 0;
    }
}

.main {
    position: relative;
    width: calc(100% - 450px);
    margin-left: auto;

    &_inner {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 58px;
    }

    .contents1 {

    }
}

.contents2 {
    .skill_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.contents4 {
    .bem-rule {
        margin: 50px 0;
        p {
            margin-bottom: 20px;
            font-weight: bold;
        }
        ul {
            li {
                padding-left: 1.5em;
                text-indent: -1.5em;
            }
        }
    }
}

.contents6 {
    .css-color_code {
        p {
            line-height: inherit;
        }
    }
    .scss_code {
        
    }
}

.contents7 {
    ul {
        li {
            padding-left: 1.5em;
            text-indent: -1.5em;
        }
    }
    .attention {
        color: red;
    }
}

// マウスストーカー
#js-mouse {
    pointer-events: none;
    position: fixed;
    top: -15px; 
    left: -15px;
    width: 30px;
    height: 30px;
    background-color:rgba(0,0,102,0.5);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.3s ease-out;
    z-index: 9999;
    opacity: 0;
}